<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lolito</title>
  <script src="/js/jquery.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="shortcut icon" href="/img/100png.png" />
</head>
<body>
  <!-- Navigation Bar -->
  <div class="buttons">
    <ul>
      <div class="brand">
      <img src="/img/100png.png" height="70px" with="70px" alt="" />
      </div>
      <a id="home" href="/"><li>General<span style="color:rgb(242, 216, 8)">Lee</span>Online</li></a>
      <a class="right" href="/blog"><li>Blog</li></a>
    </ul>
  </div>
  <br>
  <h1 id="day_number"></h1>
  <br>
  <div class="container">
  {{{body}}}
  </div>

</body>
</html>
